In [65]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [66]:
data_f = sns.load_dataset('titanic')

In [67]:
print(data_f.head(5))

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [68]:
print(data_f['age'].isnull().sum())
print("-------------------------------------------------------------------------")
print(data_f.isnull().sum())

177
-------------------------------------------------------------------------
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [69]:
print(data_f.describe())

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [70]:
data_f['age'].fillna(data_f['age'].mean(), inplace=True)

/tmp/ipython-input-70-2073183763.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_f['age'].fillna(data_f['age'].mean(), inplace=True)

In [71]:
print(data_f.isnull().sum())

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [72]:
#print(data_f['embarked'].mode()[0])
data_f['embarked'].fillna(data_f['embarked'].mode()[0], inplace=True)

/tmp/ipython-input-72-3911174638.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_f['embarked'].fillna(data_f['embarked'].mode()[0], inplace=True)

In [73]:
#need to remove the null data column because there are lots of null values.
data_f.drop('deck', axis=1, inplace=True)
print(data_f.head(5))

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male  embark_town alive  alone
0    man        True  Southampton    no  False
1  woman       False    Cherbourg   yes  False
2  woman       False  Southampton   yes   True
3  woman       False  Southampton   yes  False
4    man        True  Southampton    no   True

feature engineering.(featuers = pclass,sex,etc)


*   creating new features out of old features.

In [74]:
data_f['family_size'] = data_f['sibsp'] + data_f['parch'] + 1
print(data_f.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male  embark_town alive  alone  family_size
0    man        True  Southampton    no  False            2
1  woman       False    Cherbourg   yes  False            2
2  woman       False  Southampton   yes   True            1
3  woman       False  Southampton   yes  False            2
4    man        True  Southampton    no   True            1

In [75]:
data_f['isAlone'] = 1
data_f['isAlone'].loc[data_f['family_size'] > 1] = 0
print(data_f.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male  embark_town alive  alone  family_size  isAlone
0    man        True  Southampton    no  False            2        0
1  woman       False    Cherbourg   yes  False            2        0
2  woman       False  Southampton   yes   True            1        1
3  woman       False  Southampton   yes  False            2        0
4    man        True  Southampton    no   True            1        1

/tmp/ipython-input-75-2666893963.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_f['isAlone'].loc[data_f['family_size'] > 1] = 0
/tmp/ipython-input-75-2666893963.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_f['isAlone'].loc[data_f['family_size'] > 1] = 0

In [76]:
#repeat data remove(survived and the alive is the same)
data_f.drop(['alive','who','adult_male','embark_town','sibsp','parch','alone'],axis=1,inplace=True)
print(data_f.head())

   survived  pclass     sex   age     fare embarked  class  family_size  \
0         0       3    male  22.0   7.2500        S  Third            2
1         1       1  female  38.0  71.2833        C  First            2
2         1       3  female  26.0   7.9250        S  Third            1
3         1       1  female  35.0  53.1000        S  First            2
4         0       3    male  35.0   8.0500        S  Third            1

   isAlone
0        0
1        0
2        1
3        0
4        1

using encoding to get rid from catagorical data.

In [77]:
data_f['sex'] = data_f['sex'].map({'male':0,'female':1})#male = 0 and  female = 1
print(data_f.head())

   survived  pclass  sex   age     fare embarked  class  family_size  isAlone
0         0       3    0  22.0   7.2500        S  Third            2        0
1         1       1    1  38.0  71.2833        C  First            2        0
2         1       3    1  26.0   7.9250        S  Third            1        1
3         1       1    1  35.0  53.1000        S  First            2        0
4         0       3    0  35.0   8.0500        S  Third            1        1

In [78]:
data_f['embarked'] = data_f['embarked'].map({'S':0,'C':1,'Q':2})
print(data_f.head())

   survived  pclass  sex   age     fare  embarked  class  family_size  isAlone
0         0       3    0  22.0   7.2500         0  Third            2        0
1         1       1    1  38.0  71.2833         1  First            2        0
2         1       3    1  26.0   7.9250         0  Third            1        1
3         1       1    1  35.0  53.1000         0  First            2        0
4         0       3    0  35.0   8.0500         0  Third            1        1

In [79]:
data_f['class'] = data_f['class'].map({'First':1,'Second':2,'Third':3})
print(data_f.head())

   survived  pclass  sex   age     fare  embarked class  family_size  isAlone
0         0       3    0  22.0   7.2500         0     3            2        0
1         1       1    1  38.0  71.2833         1     1            2        0
2         1       3    1  26.0   7.9250         0     3            1        1
3         1       1    1  35.0  53.1000         0     1            2        0
4         0       3    0  35.0   8.0500         0     3            1        1

One-hot encoding.

In [80]:
data_f = pd.get_dummies(data_f,columns=['class','embarked'])
print(data_f.head())

   survived  pclass  sex   age     fare  family_size  isAlone  class_1  \
0         0       3    0  22.0   7.2500            2        0    False
1         1       1    1  38.0  71.2833            2        0     True
2         1       3    1  26.0   7.9250            1        1    False
3         1       1    1  35.0  53.1000            2        0     True
4         0       3    0  35.0   8.0500            1        1    False

   class_2  class_3  embarked_0  embarked_1  embarked_2
0    False     True        True       False       False
1    False    False       False        True       False
2    False     True        True       False       False
3    False    False        True       False       False
4    False     True        True       False       False

if the second class and the third class is false it will indicate the it's a first class passenger. that info is already there.